#***************************************************************#
#		Please set the following information		#

NULLIB_EMAIL_USER_NAME="HUI WANG"
NULLIB_EMAIL_ADDRESS="zixhe318031@gmail.com"

NULLIB_ROOT_DIR=/tmp/hm/
#				END				#
#***************************************************************#


#***************************************************************#
#		Do not change the following configuration	#

NULLIB_LINUX_USER_NAME=$USER
NULLIB_HOME=$NULLIB_ROOT_DIR/home/$NULLIB_LINUX_USER_NAME
NULLIB_DOT_DIR=$NULLIB_HOME
NULLIB_LINUX_KERNEL_DIR=$NULLIB_HOME/project/linux/
NULLIB_BIN_DIR=$NULLIB_ROOT_DIR/bin


echo ' ********************* configs ***********************'
echo
echo " email_user_name: $NULLIB_EMAIL_USER_NAME"
echo " email_address  : $NULLIB_EMAIL_ADDRESS"
echo
echo " linux_user_name: $NULLIB_LINUX_USER_NAME"
echo
echo " root_dir       : $NULLIB_ROOT_DIR"
echo " bin_dir        : $NULLIB_BIN_DIR"
echo " home_dir       : $NULLIB_HOME"
echo " dot_dir        : $NULLIB_DOT_DIR"
echo " linux_kernel   : $NULLIB_LINUX_KERNEL_DIR"
echo
echo ' ********************* configs ***********************'
echo
